@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
    font-size: 18px;
}

body{
    background-color: #fff;
}

.container{
    width: 299px;
    height: 436px;
    background-color: #fff;
    border-radius: 10px;
}

.image-sneaker{
    border-radius: 12px;
    width: 299px;
    height: 363px;
}


.carousel-item img {
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}



.price{
    width: 88px;
    height: 27px;
    color: #1E1E1E80;
    position: absolute;
    margin-top: 290px;
}

.brandname{
    width: 128px;
    height: 27px;
    color: #1E1E1E;
    overflow-y: scroll;

}


.Descr{
    width: 1300px;
    height: 350px;
    padding-left: 96px;
    margin: auto;
    padding-top: 96px;
}

.BSPcont{
    width: 256px;
    height: 189px;
}

.BSP{
    font-size: 32px;
    line-height: 48px;
    width: 256px;
    height: 96px;
    position: absolute;
    margin-top: 0px;
}

.BSP_desc{
    margin-top: 108px;
    width: 196px;
    height: 81px;
    line-height: 27px;
    position: absolute;
    color: #1E1E1E80;
}

.SeeMore{
    margin-top: 24px;
    width: 168px;
    height: 51px;
    border-radius: 8px;
    background-color: #C1DCDC;
    border: none;

}

.catalog{
    width: 1000px; 
    height: 350px; 
    overflow: hidden; 
    margin-left: 200px;
    display: flex;
}

.carousel-item{
    transition: transform 0.5s ease-in-out; 
    background: none;
}

#next{
    margin-top: 0px;
    position: absolute;
    margin-left: 977px;
    width: 25px;
    height: 350px;
    z-index: 2;
    background-repeat: no-repeat;
    background-position-y: 140px;
    border: none;
    background-color: transparent;
}


#prev{
    width: 20px;
    height: 350px;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.carousel{
    padding-bottom: 1000px;
    position: absolute;
}

.head{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.head-banner{
    margin: auto;
    width: 1248px;
    height: 512px;
    background-color: #C1DCDC;
    border-radius: 24px;

}

.banner-Text{
    font-size: 68px;
    font-weight: 800;
    line-height: 68px;
    padding-left: 48px;
    padding-top: 48px; 
    width: 550px;
    height: 128px;
}

.banner-Desc{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    padding-left: 48px;
    width: 64px;
    height: 48px;
    margin-top: -80px;
}

.banner-Desc-continue{
    font-size: 18px;    
    line-height: 27px;
    padding-left: 48px;
    font-weight: 500;
    margin-top: -30px;
    width: 190px;
    height: 27px;
}

.banner-Line{
    margin-left: 218px;

}


.banner-Desc2{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    margin-left: 266px;
    margin-top: -96px;
}

.banner-Desc-continue2{
    margin-left: 266px;
    margin-top: -30px;
    font-weight: 500;
    font-size: 18px;    
    line-height: 27px;
}

#banner-search{
    position: absolute;
    margin-left: 48px;
    border-radius: 12px;
    width: 449px;
    height: 64px;
    text-align: center;
    background-image: url(image/Search.svg);
    background-repeat: no-repeat;
    background-position: 400px;
    border: none;
}

.banner-arrow{
    position: absolute;
    margin-left: 522px;
}

.banner-rectangle{
    position: absolute;
    margin-left: 726px;
    margin-top: -185px;
}

#productList{
    margin-top: 100px;
}

.product-item{
    position: relative;
    width: 800px;
    height: 60px;
    background-color: white;
    text-align: center;
    background-size: 40px;
    background-repeat: no-repeat;
    z-index: 5; 
    border-radius: 8px;
}

.product-price{
    width: 88px;
    height: 27px;
    color: #1E1E1E80;
    margin-left: 350px;
    margin-top: -0px;
}